# 5. Data Definition Language (DDL)

Data definition language (DDL) refers to SQL commands that design the **database structure**. Database engineers use DDL to create and modify database objects based on the business requirements. For example, the database engineer uses the CREATE command to create database objects such as tables, views, and indexes.

## CREATE statement

The `CREATE` statement is used to create new database objects. The most common use is for creating tables.

**CREATE schema/database**

```sql
CREATE SCHEMA LibraryNearMe;
-- creating the database
```

**CREATE table**

```sql
CREATE TABLE authors (
	author_id INT PRIMARY KEY AUTO_INCREMENTE,
    author_name VARCHAR(255) NOT NULL,
    birth_date DATE,
    nationality VARCHAR(255)
    ); -- creating authors table
```

Creating a copy of an existing table can also be done by using `CREATE TABLE`:

```sql
CREATE TABLE bookshopnearme.authors AS SELECT * FROM librarynearme.authors;
```

With this command I am able to copy all the structure of table Authors from database LibraryNearMe to the database BookshopNearMe

**CREATE view**

```SQL
CREATE VIEW bookNames AS -- creating a view
SELECT book_id, title FROM books;
```

**CREATE event**

Events are created to automate scheduled tasks or operations within the database.  
Events in MySQL are similar to scheduled tasks in other environments and are useful for running periodic maintenance, generating reports, or performing other automated actions

```sql
CREATE EVENT backup_event -- creating a backup with an event
ON SCHEDULE EVERY 1 DAY
STARTS CURRENT_TIMESTAMP
DO
BEGIN
    SET @backup_path = 'C:\Users\Ance\backups';
    SET @current_timestamp = DATE_FORMAT(NOW(), '%Y%m%d%H%i%s');
    SET @backup_file = CONCAT(@backup_path, 'backup_', @current_timestamp, '.sql');
    SET @mysql_dump_command = CONCAT('mysqldump -u root -p123456789 bookshopnearme > "',@backup_file'"');
    PREPARE stmt FROM @mysql_dump_command;
    EXECUTE stmt;
    DEALLOCATE PREPARE stmt;
END;
```

## ALTER statement

The `ALTER` statement is used to modify existing database objects. It can be used to add, modify, or delete columns, constraints, or other object properties.

**ALTER TABLE
    ADD column**

```sql
ALTER TABLE loyaltypoints  -- adding a new column to te table to track the date when the last loyalty points were earned
ADD COLUMN transaction_date DATE;
```

**ALTER TABLE DROP column**

```sql
ALTER TABLE loyaltypoints -- because of business requirement changes, this table had to be deleted
DROP COLUMN points_spent; 
```

**ALTER TABLE ADD contstraint**

```sql
ALTER TABLE authorsbooks  -- normalization of tables because of the previous migration
ADD PRIMARY KEY (authors_id, book_id);
```

```SQL
ALTER TABLE authorsbooks -- adding foreign key to an existing table
ADD FOREIGN KEY (authors_id) REFERENCES authors(authors_id);
```

```sql
ALTER TABLE reviews -- adding a constraint to control if the values in the rating column are in the correct range
ADD CONSTRAINT checkrating CHECK (rating>=1 AND rating <=10);
```

**ALTER TABLE ALTER column**

```sql
ALTER TABLE reviews -- changing the column`s review_date type to year
ALTER COLUMN review_date YEAR;
```

**ALTER TABLE RENAME column**
```sql
ALTER TABLE loyaltypoints -- renaming a column and asigning data type
CHANGE loyality_id  loyalty_id INT;
```

**ALTER VIEW**

```SQL
ALTER VIEW bookNames AS -- adding a new column to the view
SELECT book_id, title, price FROM books;
```

## DROP statement

The `DROP` statement is used to delete database objects or database itself. It is typically used to remove tables, indexes, or views.

```sql
DROP SCHEMA librarynearme; -- deleting previous database schema
```

```SQL
DROP TABLE shippers; -- deleting a table that won`t be neccessary anymore

## TRUNCATE statement

Although `TRUNCATE` is similar to DELETE , it is classified as a DDL statement rather than a DML statement. It differs from DELETE in the following ways: Truncate operations drop and re-create the table, which is much faster than deleting rows one by one, particularly for large tables. Also TRUNCATE requires the DROP privilege.

```sql
TRUNCATE TABLE customers; -- this removes all rows from the Customers table
```

## RENAME statement

`RENAME` is used to change the name of an existing database object.

```sql
RENAME TABLE author TO authors;