# 7. Data Control Language (DCL)

Data Control Language (DCL) is SQL commands `GRANT` and `REVOKE` to control user access to database objects and their contents. These commands are employed to grant, remove and deny permissions to users for retrieving and manipulating a database.
Security starts with the admin user. As the admin user, you must create and authorize other users. When you first create users, they cannot see or do anything. As you grant users more privileges, they can access more database objects.

### GRANT

Use the `GRANT` command to grant privileges to a user or group. The system adds these privileges to whatever privileges the user or group already has. 
To grant privileges to only a few columns, create a view that contains those columns and grant privileges to that view.

Syntax:

```sql
GRANT privilege(s) ON object TO 'username'@'hostname';

Example:

```sql
GRANT SELECT, UPDATE ON books TO 'monica@localhost';

In MySQL most common privileges to be granted are:
```sql
- SELECT
- UPDATE
- INSERT
- DELETE
- EXECUTE ON PROCEDURE -- allows to execute functions and stored procedures
- ALL -- grants all privileges
- CREATE
- ALTER
- DROP
- REFERENCES -- permission to create foreign key constraint

`GRANT` permissions have different levels of scope to which they can be granted:

- **Global level**: this apply to the entire MySQL server. They affect all databases and all tables within them. Some global privileges include CREATE USER, RELOAD, and SHUTDOWN:
```sql
GRANT RELOAD, SHUTDOWN ON *.* TO 'Michael'@'hostname';

- **Database level**: are specific to a particular database. These privileges apply to all tables and objects within that database:
```sql
GRANT SELECT, INSERT ON mydb.* TO 'Dwight'@'hostname';

- **Table level**: are the most specific. They apply to individual tables or views within a database:
```sql
GRANT UPDATE, DELETE ON mydb.mytable TO 'Toby'@'hostname';

- **Routine level**:  pertain to stored procedures and functions. One can grant or revoke the privilege to execute these routines:
```sql
GRANT EXECUTE ON PROCEDURE mydb.myprocedure TO 'Kevin'@'hostname';

### REVOKE

`REVOKE` command withdraws the userâ€™s access privileges given by using the GRANT command.

Syntax:

```sql
REVOKE privilege(s) ON object FROM user_or_role;

Example:

```sql
REVOKE SELECT ON database_name.table_name FROM 'Dwight'@'hostname';

Again, privileges that can be withdrawn are the same that can be granted.

Revoke a specific global privilege:
```sql
REVOKE RELOAD, SHUTDOWN ON *.* FROM 'Michael'@'hostname';

## Privileges and Users in Bookshop Near Me

Creating neccessary users in database:

```sql
CREATE USER 'decision_maker@localhost' IDENTIFIED BY 'p@ssM0rd';

CREATE USER 'inventory@localhost' IDENTIFIED BY '1nW3nt0ry';

CREATE USER 'compliance@localhost' IDENTIFIED BY 'C0wpl1anc3';

CREATE USER 'orders@localhost' IDENTIFIED BY '0rd3rs';

CREATE USER 'analytics@localhost' IDENTIFIED BY '@n@lyt1cs';

**Assigning privileges to the Decision Maker user:**

In name of data protection, let`s create view from Customers and Users table, to protect sensitive information:

```sql
CREATE VIEW customer_view AS 
SELECT c.customer_id,
	c.membership_status,
    c.country,
    u.last_login,
    u.registration_date
FROM 
	customers c
JOIN
	users u
ON 
	c.customer_id = u.customer_id;

Assign privileges to Decision Makers:

```sql
GRANT SELECT ON
	bookshopnearme.authors,
    bookshopnearme.books,
    bookshopnearme.genresbooks,
    bookshopnearme.authorsbooks,
    bookshopnearme.orderitems,
    bookshopnearme.orders,
    bookshopnearme.payments,
    bookshopnearme.reviews,
    bookshopnearme.customer_view
    TO
	'decision_maker@localhost';

**Assigning privileges to the Inventory user:**

```sql
GRANT SELECT ON
	bookshopnearme.books,
    bookshopnearme.authors,
    bookshopnearme.authorsbooks,
    bookshopnearme.genresbooks,
    bookshopnearme.orderitems
    TO
    'inventory@localhost';

**Granting privileges to Compliance user:**

```sql
GRANT SELECT ON
	bookshopnearme.book_notifications,
    bookshopnearme.delete_author,
    bookshopnearme.delete_book,
    bookshopnearme.delete_customer,
    bookshopnearme.delete_user,
    bookshopnearme.update_author,
    bookshopnearme.update_user
    TO
    'compliance@localhost';

**Granting privileges to Orders user:**

```sql
GRANT SELECT, INSERT, UPDATE ON
	bookshopnearme.loyaltypoints,
    bookshopnearme.orderitems,
    bookshopnearme.orders,
    bookshopnearme.payments
    TO
    'orders@localhost';

**Granting privileges to Analytics user:**

Once again, to protect sensitive information, first, let`s create a view:

```sql
CREATE VIEW deleted_customers_view AS
SELECT 
	dc.id,
    dc.deleted_at
FROM delete_customer dc;

```sql
GRANT SELECT ON
	bookshopnearme.authors,
    bookshopnearme.authorsbooks,
    bookshopnearme.books,
    bookshopnearme.genresbooks,
    bookshopnearme.delete_author,
    bookshopnearme.delete_book,
    bookshopnearme.deleted_customers_view,
    bookshopnearme.genres,
    bookshopnearme.genresbooks,
    bookshopnearme.loyaltypoints,
    bookshopnearme.orderitems,
    bookshopnearme.orders,
    bookshopnearme.payments,
    bookshopnearme.reviews
    TO
    'analytics@localhost';